# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Logs
logs
*.log
npm-debug.log*

# dependencies
sweater-weather/node_modules
sweater-weather/.pnp
.pnp.js

# testing
sweater-weather/coverage

# production
sweater-weather/build
sweater-weather/public

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Compiled binary addons (http://nodejs.org/api/addons.html)
sweater-weather/build/Release

# Distribution directories
sweater-weather/dist/

# Typescript v1 declaration files
sweater-weather/typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz


