.heading {
    display: flex;
    flex-direction: column;
    

    padding: 2rem;
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
}

.light {
    display: flex;
    flex-direction: column;
    

    font-weight: 100;
}

